
<div class="col-xl-6">
    <div class="card card-height-100">
        <div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">Live Users By Country</h4>
            <div class="flex-shrink-0">
                <button type="button" class="btn btn-soft-primary btn-sm material-shadow-none">
                    Export Report
                </button>
            </div>
        </div><!-- end card header -->
        <!-- card body -->
        <div class="card-body">

            <div id="users-by-country" data-colors='["--vz-light"]' class="text-center" style="height: 252px"></div>

            <div class="table-responsive table-card mt-3">
                <table class="table table-borderless table-sm table-centered align-middle table-nowrap mb-1">
                    <thead class="text-muted border-dashed border border-start-0 border-end-0 bg-light-subtle">
                        <tr>
                            <th>Duration (Secs)</th>
                            <th style="width: 30%;">Sessions</th>
                            <th style="width: 30%;">Views</th>
                        </tr>
                    </thead>
                    <tbody class="border-0">
                        <tr>
                            <td>0-30</td>
                            <td>2,250</td>
                            <td>4,250</td>
                        </tr>
                        <tr>
                            <td>31-60</td>
                            <td>1,501</td>
                            <td>2,050</td>
                        </tr>
                        <tr>
                            <td>61-120</td>
                            <td>750</td>
                            <td>1,600</td>
                        </tr>
                        <tr>
                            <td>121-240</td>
                            <td>540</td>
                            <td>1,040</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end card body -->
    </div><!-- end card -->
</div><!-- end col -->