@inherits LayoutComponentBase

<!-- Begin page -->
<div id="layout-wrapper">

    <Header />
    <RemoveNotificationModal />
    <SideBar />
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                @Body

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <Footer />
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<ThemeSettings />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
