@page "/site-dashboard/{id}"

<PageTitle>Site Dashboard</PageTitle>

<PageRoute Title="www.almaic.org" />

<AdvancedPopup />

<div class="row mt-5">
    <_4MetricCards />
    <PortfolioOverview />
    <TopPages />
</div> <!-- end row-->

@code{
    [Parameter]
    public RegisteredWebsite? Site {get; set;}
    [Parameter]
    public string? id { get; set; }
}
